{{#section 'head'}}
    <link href="assets/css/form.css" rel="stylesheet">
    <link href="assets/css/timepicker.css" rel="stylesheet">

{{/section}}


<div class="main_container" id="forms_page">
        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="users.html">Users</a> <span class="divider">/</span></li>
            <li class="active">Add User</li>
          </ul>
          <h2 class="heading">
                入住登记添加
          </h2>
        </div>
        <!-- 信息 -->
        <div class="row-fluid" id="loginInfoBox">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>Information</h5>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.RoomType}}</label>
                    <div class="controls">
                        <select id="roomType" class="span7"></select>
                     </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.RoomNumber}}</label>
                    <div class="controls">
                        <select id="roomChoice" class="span7"></select>
                     </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.GuestName}}</label>
                    <div class="controls">
                        <input class="span7" type="text" name="guestName">
                     </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.CheckInTime}}</label>
                    <div class="controls">
                        <div class="input-append date datepicker datepicker-basic" data-date="" data-date-format="dd-mm-yyyy">
                          <input class="date-box" size="16" type="text" style="width:120px;" name="checkInDate">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                        <div class="input-append bootstrap-timepicker-component">
                          <input type="text" class="input-small timepicker-24hrs"  name="checkInTime">
                          <span class="add-on">
                            <i class="icon-time"></i>
                          </span>
                        </div>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.CheckOutTime}}</label>
                    <div class="controls">
                        <div class="input-append date datepicker datepicker-basic" data-date="" data-date-format="dd-mm-yyyy">
                          <input class="date-box" size="16" type="text" style="width:120px;" name="checkOutDate">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                        <div class="input-append bootstrap-timepicker-component">
                          <input type="text" class="input-small timepicker-24hrs"  name="checkOutTime">
                          <span class="add-on">
                            <i class="icon-time"></i>
                          </span>
                        </div>
                     </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>  


       <!-- 提交按钮 -->
        <div class="row-fluid" style="text-align:center">
           <button type="button" class="btn btn-success" id="form_sublime">submit</button>
        </div>
</div>


{{#section 'script'}}
    <script type="text/javascript" src="assets/js/realm.js"></script>
    <script type="text/javascript" src="assets/js/select2.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-colorpicker.js"></script>

    <script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-timepicker.js"></script>  
    <script type="text/javascript" src="controller/userinfoDom.js"></script>
    <script type="text/javascript" src="controller/AddCheckIn.js"></script>
{{/section}}