{{#section 'head'}}
    <link href="assets/css/form.css" rel="stylesheet">
{{/section}}


<div class="main_container" id="forms_page">
        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="users.html">Users</a> <span class="divider">/</span></li>
            <li class="active">Add User</li>
          </ul>
          <h2 class="heading">
                Add User
          </h2>
        </div>
        <!-- 登陆信息 -->
        <div class="row-fluid" id="loginInfoBox">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.LoginInformation}}</h5>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                 <div class="control-group">
                    <label class="control-label">{{language.userInfo.Username}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Username">
                    </div>
                  </div>
                 <div class="control-group">
                    <label class="control-label">{{language.userInfo.Password}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="password" name="Password">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> 

        <!-- 部门职位 -->
        <div class="row-fluid" id="loginInfoBox">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.DepartAndRole}}</h5>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                 <div class="control-group">
                    <label class="control-label">{{language.userInfo.Department}}</label>
                    <div class="controls">
                        <select class="span7" id="DepartmentId">      
                        </select>
                     </div>
                  </div>
                 <div class="control-group">
                    <label class="control-label">{{language.userInfo.Role}}</label>
                    <div class="controls">
                        <select class="span7" id="RoleId">    
                        </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>   

        <!-- 基本信息 -->
        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.BaseInfo}}</h5>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                 <div class="control-group">
                    <label class="control-label">{{language.userInfo.Name}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Name">
                    </div>
                  </div>
                 <div class="control-group">
                    <label class="control-label">{{language.userInfo.SSN}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="Social_security_Number">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.MailAddress}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="Mailing_Address">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.ZipCode}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="city_state_Zip_Code">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.Telephone}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="Telephone">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.Age}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="Age">
                      <span class="help-inline">{{language.userInfo.AgePrompt}}</span>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.Email}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="Email">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>  



        <!-- 工作性质 -->
        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.JobInfo}}</h5>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                   <div class="control-group">
                    <label style="text-align:left">{{language.userInfo.DaysWork}}</label>
                    <div class="controls controls-wdq">
                      <label class="checkbox">
                        <input name="Days_work" type="checkbox" value="1">
                        {{language.userInfo.Mon}}
                      </label>
                      <label class="checkbox">
                        <input name="Days_work" type="checkbox" value="2">
                        {{language.userInfo.Tues}}
                      </label>
                      <label class="checkbox">
                        <input name="Days_work" type="checkbox" value="3">
                        {{language.userInfo.Wed}}
                      </label>
                      <label class="checkbox">
                        <input name="Days_work" type="checkbox" value="4">
                        {{language.userInfo.Thurs}}
                      </label>
                      <label class="checkbox">
                        <input name="Days_work" type="checkbox" value="5">
                        {{language.userInfo.Fri}}
                      </label>
                      <label class="checkbox">
                        <input name="Days_work" type="checkbox" value="6">
                        {{language.userInfo.Sat}}
                      </label>
                      <label class="checkbox">
                        <input name="Days_work" type="checkbox" value="7">
                        {{language.userInfo.Sun}}
                      </label>
                      <label class="checkbox">
                        <input name="Days_work" type="checkbox" value="0">
                        {{language.userInfo.NoPreference}}
                      </label>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.WorkNature}}</label>
                    <div class="controls controls-wdq">
                      <label class="radio">
                        <input type="radio" name="Work_nature" value="0" checked>
                        {{language.userInfo.FullTimeJob}}
                      </label> 
                      <label class="radio">
                        <input type="radio" name="Work_nature" value="1">
                        {{language.userInfo.PartTimeJob}}
                      </label> 
                      <label class="radio">
                        <input type="radio" name="Work_nature" value="2">
                        {{language.userInfo.FullOrPart}}
                      </label>
                    </div>
                  </div>

                  <div class="control-group">
                    <label>{{language.userInfo.WorkHours}}</label>
                    <div class="controls">
                      <input class="span7 tip" name="Work_hours" type="text">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.WorkAtNight}}</label>
                    <div class="controls controls-wdq">
                      <label class="radio">
                        <input type="radio" name="Work_at_night" value="1" checked>
                        Yes
                      </label> 
                      <label class="radio">
                        <input type="radio" name="Work_at_night" value="0">
                        No
                      </label> 
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.WorkAvaliableDate}}</label>
                    <div class="controls">
                      <div class="input-append date span5 datepicker datepicker-basic" data-date="" data-date-format="dd-mm-yyyy">
                          <input class="date-box" size="16" type="text" name="Work_available_date" value="">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>  


        <!-- 附加信息 -->
        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.AdditionalInfo}}</h5>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label>{{language.userInfo.IsLegalStatus}}</label>
                    <div class="controls controls-wdq">
                      <label class="radio">
                        <input type="radio" name="Is_Legal_status" value="1" checked>
                        Yes
                      </label> 
                      <label class="radio">
                        <input type="radio" name="Is_Legal_status" value="0">
                        No
                      </label> 
                    </div>
                  </div>
                  <div class="control-group">
                    <label>{{language.userInfo.HaveCriminalRecord}}</label>
                    <div class="controls controls-wdq">
                      <label class="radio">
                        <input type="radio" name="Have_Criminal_Record" value="1" checked>
                        Yes
                      </label> 
                      <label class="radio">
                        <input type="radio" name="Have_Criminal_Record" value="0">
                        No
                      </label> 
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CriminalRecord}}</label>
                    <div class="controls">
                      <textarea class="span7" rows="5" style="height:100px;" name="Criminal_Record"></textarea>
                    </div>
                  </div>
                  <div class="control-group">
                    <label>{{language.userInfo.HaveDL}}</label>
                    <div class="controls controls-wdq">
                      <label class="radio">
                        <input type="radio" name="Have_DL" value="1" checked>
                        Yes
                      </label> 
                      <label class="radio">
                        <input type="radio" name="Have_DL" value="0">
                        No
                      </label> 
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.DLNumber}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="DL_Number">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.DLIssuedState}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="DL_Issued_State">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        
        <!-- 高中学历信息 -->
      <div id="highSchoolBox"> 
        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.HighSchoolInfo}}</h5>
              <div class="widget-buttons">
                  <a data-title="Add" onclick="addHighSchool()"><i class="icon-plus"></i></a>
              </div>
            </div>
            <div class="widget-body highSchoolItem">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.SchoolName}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="School_Name">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.SchoolAddress}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="School_Address">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.YearCompleted}}</label>
                    <div class="controls">
                      <div class="input-append date span5 datepicker datepicker-basic" data-date="" data-date-format="dd-mm-yyyy">
                          <input size="16" type="text" name="Years_Completed" value="">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.Major}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="Major">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.DegreeDiploma}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="Degree_Diploma">
                    </div>
                  </div>
                </form>
              </div>
            
            </div>
          </div>
        </div>
      </div>





        <!-- 大学学历信息 -->
      <div id="collegeSchoolBox"> 
        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.CollegeInfo}}</h5>
              <div class="widget-buttons">
                  <a data-title="Add" onclick="addCollegeSchool()"><i class="icon-plus"></i></a>
              </div>
            </div>
            <div class="widget-body collegeItem">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.SchoolName}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="School_Name">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.SchoolAddress}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="School_Address">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.YearCompleted}}</label>
                    <div class="controls">
                      <div class="input-append date span5 datepicker datepicker-basic" data-date="" data-date-format="dd-mm-yyyy">
                          <input size="16" type="text" name="Years_Completed" value="">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.Major}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="Major">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.DegreeDiploma}}</label>
                    <div class="controls">
                      <input class="span7 tip" type="text" name="Degree_Diploma">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>





        <!-- 服役信息 -->
        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.MilitaryInfo}}</h5>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label>{{language.userInfo.IsJionedArmy}}</label>
                    <div class="controls controls-wdq">
                      <label class="radio">
                        <input type="radio" name="Is_Jioned_Army" value="1" checked>
                        Yes
                      </label> 
                      <label class="radio">
                        <input type="radio" name="Is_Jioned_Army" value="0">
                        No
                      </label> 
                    </div>
                  </div>
                  <div class="control-group">
                    <label>{{language.userInfo.IsMemberNG}}</label>
                    <div class="controls controls-wdq">
                      <label class="radio">
                        <input type="radio" name="Is_Member_NG" value="1" checked>
                        Yes
                      </label> 
                      <label class="radio">
                        <input type="radio" name="Is_Member_NG" value="0">
                        No
                      </label> 
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.MilitarySpecialty}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Military_Specialty">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        
        <!-- 工作经历 -->
      <div id="workBox"> 
        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.WorkExperience}}</h5>
              <div class="widget-buttons">
                  <a data-title="Add"  onclick="addWork()"><i class="icon-plus"></i></a>
              </div>
            </div>
            <div class="widget-body workItem">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyName}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Company_Name">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanySupervisor}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Company_Supervisor">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyHours}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Company_Hours">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyAddress}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Company_Address">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyZipCode}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Company_ZipCode">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyPhone}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Company_Phone">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyJobTitle}}</label>
                    <div class="controls">
                      <input class="span7" type="text" name="Company_Job_Title">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyStartDate}}</label>
                    <div class="controls">
                      <div class="input-append date span5 datepicker datepicker-basic" data-date="" data-date-format="dd-mm-yyyy">
                          <input size="16" type="text" name="Company_Start_Date" value="">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyEndDate}}</label>
                    <div class="controls">
                      <div class="input-append date span5 datepicker datepicker-basic" data-date="" data-date-format="dd-mm-yyyy">
                          <input size="16" type="text" name="Company_End_Date" value="">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyStartSalary}}</label>
                    <div class="controls">
                      <div class="input-append">
                        <input class="span7" type="text" name="Company_Start_Salary" placeholder="5.000"><span class="add-on">$</span>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.userInfo.CompanyEndSalary}}</label>
                    <div class="controls">
                      <div class="input-append">
                        <input class="span7" type="text" name="Company_End_Salary" placeholder="5.000"><span class="add-on">$</span>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label>{{language.userInfo.CompanyReasonLeaving}}</label>
                    <div class="controls">
                      <textarea class="span7" rows="5" style="height:100px;" name="Company_Reason_Leaving"></textarea>
                    </div>
                  </div>
                  <div class="control-group">
                    <label>{{language.userInfo.CompanySelfSummary}}</label>
                    <div class="controls">
                      <textarea class="span7" rows="5" style="height:100px;" name="Company_Self_Summary"></textarea>
                    </div>
                  </div>
                  <div class="control-group">
                    <label>{{language.userInfo.CompanyCouldContact}}</label>
                    <div class="controls controls-wdq">
                      <label class="radio">
                        <input type="radio" name="Company_Could_Contact" value="1" checked>
                        Yes
                      </label> 
                      <label class="radio">
                        <input type="radio" name="Company_Could_Contact" value="0">
                        No
                      </label> 
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>




        
        <!-- 熟人信息 -->
        <div class="row-fluid" id="referencesBox">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.userInfo.References}}</h5>
              <div class="widget-buttons">
                  <a data-title="Add" onclick="addReferences()"><i class="icon-plus"></i></a>
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label style="color:red;">{{language.userInfo.ReferencesPrompt}}</label>
                  </div>
                  <div class="control-group references_Item">
                      <label class="control-label">No.1</label>
                      <div class="controls"> 
                        <div class="span7" style="position:relative;">
                          <textarea class="span12" rows="5" style="height:100px;"></textarea>
                        </div>
                      </div> 
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>


       <!-- 提交按钮 -->
        <div class="row-fluid" style="text-align:center">
           <button type="button" class="btn btn-success" id="form_sublime">submit</button>
        </div>
</div>


{{#section 'script'}}
    <script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>  
    <script type="text/javascript" src="controller/userinfoDom.js"></script>
    <script type="text/javascript" src="controller/AddUser.js"></script>
{{/section}}
