<div class="main_container" id="users_page">

        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li class="active">{{language.checkInPage.CheckInManage}}</li>
          </ul>
          {{!--<h2 class="heading">
              入住记录 
          </h2>}--}}
        </div> <!-- /row-fluid -->

       

        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-group"></i>
              <h5>{{language.checkInPage.CheckInManage}}</h5>
              <div class="widget-buttons">
                  <a href="/addcheckin"><i class="icon-plus"></i></a>
              </div>
            </div>  
            <div class="widget-body">
              
              
              <table id="users" class="table table-striped table-bordered dataTable">
                <thead>
                  <tr>
                    <th>{{language.checkInPage.RoomNumber}}</th>
                    <th>{{language.checkInPage.GuestName}}</th>
                    <th>{{language.checkInPage.CheckInTime}}</th>
                    <th>{{language.checkInPage.CheckOutTime}}</th>
                    <th>{{language.checkInPage.TaskStatus}}</th>
                    <th>{{language.checkInPage.TaskRecord}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                 {{#each checkInList}}
                  <tr>
                    <td>{{roomNumber}}</td>
                    <td>{{guestName}}</td>
                    <td>{{checkInTime}}</td>
                    <td>{{checkOutTime}}</td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class='btn-group'>
                        <a class='btn btn-small dropdown-toggle'
                        data-toggle='dropdown' href='#'>
                           {{../language.common.Action}}
                           <span class='caret'></span>
                        </a>
                        <ul class='dropdown-menu pull-right'>
                          <li><a href='/editroom?id={{id}}'><i class='icon-edit'></i> {{../language.common.Edit}}</a></li>
                          <li><a style='cursor:pointer' onclick='checkOut({{roomId}})'><i class='icon-trash'></i> {{../language.checkInPage.CheckOut}}</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="row-fluid">
                <div class="span5"></div>
                  <div class="span6">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        <ul style="margin:0 auto;">
                            <li class="prev" id="prev_btn"><a href="#">← {{language.common.Previous}}</a></li>
                            <li class="next" id="next_btn"><a href="#">{{language.common.Next}} → </a></li>
                        </ul>
                    </div>
                </div>
              </div>


            </div> <!-- /widget-body -->
          </div> <!-- /widget -->
        </div> <!-- /row-fluid -->

      </div>




{{#section 'script'}}
    <script>
        if({{pageInfo.page}} <= 1){
           $("#prev_btn").addClass("disabled");
        }else{
           var url = "/checkin?page="+({{pageInfo.page}}-1);
           $("#prev_btn a").attr("href",url);
        }


         
        if({{pageInfo.page}} >= {{pageInfo.pageTotle}}){
           $("#next_btn").addClass("disabled");
        }else{
           var next_url = "/checkin?page="+({{pageInfo.page}}+1);
           $("#next_btn a").attr("href",next_url);
        }



        function checkOut(id){
           var r = confirm("Are you sure you want to delete this data?")
            if (r == true) {
               $.get("/api/checkin/checkout", { roomId: id }, function(obj) {
                 if (obj.status.code !== 0) {
                   alert(obj.status.msg);
                 } else {
                    window.location.reload();
                 }
               })
            }
        }
    </script>
{{/section}}