{{#section 'head'}}
    <link href="assets/css/form.css" rel="stylesheet">
    <link href="assets/css/timepicker.css" rel="stylesheet">

{{/section}}


<div class="main_container" id="forms_page">
        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li class="active">{{language.addCheckIn.EditCheckIn}}</li>
          </ul>
        </div>
        <!-- 信息 -->
        <div class="row-fluid" id="loginInfoBox">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>{{language.addCheckIn.EditCheckIn}}</h5>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                  <div class="control-group" style="display:none;">
                    <label class="control-label">ID</label>
                    <div class="controls">
                        <input class="span7" type="text" name="id" value={{data.id}} disabled>
                     </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.RoomType}}</label>
                    <div class="controls">
                        <input class="span7" type="text" value={{data.type}} disabled>
                     </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.RoomNumber}}</label>
                    <div class="controls">
                        <input class="span7" type="text" value={{data.number}} disabled>
                     </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.GuestName}}</label>
                    <div class="controls">
                        <input class="span7" type="text" name="guestName" value={{data.guestName}} disabled>
                     </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.CheckInTime}}</label>
                    <div class="controls">
                        <div class="input-append date datepicker datepicker-basic" data-date="" data-date-format="yyyy-mm-dd">
                          <input class="date-box" size="16" type="text" style="width:120px;" name="checkInDate" value="{{data.checkInDateStr}}">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                        <div class="input-append bootstrap-timepicker-component">
                          <input type="text" class="input-small timepicker-24hrs"  name="checkInTime" value="{{data.checkInTimeStr}}">
                          <span class="add-on">
                            <i class="icon-time"></i>
                          </span>
                        </div>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">{{language.addCheckIn.CheckOutTime}}</label>
                    <div class="controls">
                        <div class="input-append date datepicker datepicker-basic" data-date="" data-date-format="yyyy-mm-dd">
                          <input class="date-box" size="16" type="text" style="width:120px;" name="checkOutDate" value="{{data.checkOutDateStr}}">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                        <div class="input-append bootstrap-timepicker-component">
                          <input type="text" class="input-small timepicker-24hrs" name="checkOutTime" value="{{data.checkOutTimeStr}}">
                          <span class="add-on">
                            <i class="icon-time"></i>
                          </span>
                        </div>
                     </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>  


       <!-- 提交按钮 -->
        <div class="row-fluid" style="text-align:center">
           <button type="button" class="btn btn-success" id="form_sublime">submit</button>
        </div>
</div>


{{#section 'script'}}
    <script type="text/javascript" src="assets/js/realm.js"></script>
    <script type="text/javascript" src="assets/js/select2.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-colorpicker.js"></script>

    <script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-timepicker.js"></script>  
    <script type="text/javascript" src="controller/userinfoDom.js"></script>
    <script type="text/javascript" src="controller/EditCheckIn.js"></script>
    
{{/section}}