
<div class="main_container" id="users_page">

        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li class="active">{{language.TaskListPage.TaskManage}}</li>
          </ul>
        </div> <!-- /row-fluid -->

       

        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-group"></i>
              <h5>{{language.TaskListPage.TaskManage}}</h5>
              <div class="widget-buttons">
                  <a href="/addtask"><i class="icon-plus"></i></a>
              </div>
            </div>  
            <div class="widget-body">
              
              <table id="users" class="table table-striped table-bordered dataTable">
                <thead>
                  <tr>
                    <th>{{language.TaskListPage.RoomNumber}}</th>
                    <th>{{language.TaskListPage.TaskType}}</th>
                    <th>{{language.TaskListPage.executor}}</th>
                    <th>{{language.TaskListPage.ReleaseTime}}</th>
                    <th>{{language.TaskListPage.Status}}</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each taskList}}
                   <tr>
                      <td>{{roomNumber}}</td>
                      <td>{{taskType}}</td>
                      <td>{{executorName}}</td>
                      <td>{{createTimeStr}}</td>
                      <td>{{state}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="row-fluid">
                <div class="span5"></div>
                  <div class="span6">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        <ul style="margin:0 auto;">
                            <li class="prev" id="prev_btn"><a href="#">← {{language.common.Previous}}</a></li>
                            <li class="next" id="next_btn"><a href="#">{{language.common.Next}} → </a></li>
                        </ul>
                    </div>
                </div>
              </div>


            </div> <!-- /widget-body -->
          </div> <!-- /widget -->
        </div> <!-- /row-fluid -->

      </div>




{{#section 'script'}}
        
    <script>
        if({{pageInfo.page}} <= 1){
           $("#prev_btn").addClass("disabled");
        }else{
           var url = "/task?page="+({{pageInfo.page}}-1);
           $("#prev_btn a").attr("href",url);
        }


         
        if({{pageInfo.page}} >= {{pageInfo.pageTotle}}){
           $("#next_btn").addClass("disabled");
        }else{
           var next_url = "/task?page="+({{pageInfo.page}}+1);
           $("#next_btn a").attr("href",next_url);
        }
    </script>
{{/section}}